* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

.text {
    text-align: center;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
    width: calc(100% / 2 * 3 / 2);
}

.member-card {
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.member-card p {
    margin: 0;
    font-weight: bold;
}

.member-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.member-name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
}

.member-role {
    font-size: small;
}